body {
  background-color: #272246;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  min-height: 100vh;
}

.score-section {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  align-items: center;
  color: white;
}
.app {
  background-color: #3e909f;
  width: 650px;
  height: 300px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}
.question-section {
  width: 100%;
  position: relative;
}
